* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.2%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    background-color: beige;
    
}

.page {
    padding: 2rem;
}

main {
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.button-download img{
    width: 20rem;
    display: block;
    margin: 0 auto;
}

.button-download img:hover {
   opacity: 0.7;
}

h2 {
    font-weight: 500;
    color: rgb(46, 60, 17);

    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 0.8rem;

    border-top: 1px solid black;
}

p {
    font-weight: 400;
    text-align: justify;
    color: rgb(46, 60, 17);
    line-height: 1.5;

    margin: 0.5rem;
} 

.instrucoes p {
    border-bottom: 1px solid black;
    padding-bottom: 5rem;
}

footer p {
    color: black;
    text-align: center;

    padding: 0.5rem;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(46, 60, 17);
}

footer{
    margin-top: 0.5rem;
}

@media (min-width: 700px) {
    body {
        padding: 2rem;
    }

    main {
        max-width: 1020px;
    }
}